@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  color: inherit;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;

}



a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.signed-in {
  display: flex;
  flex-direction: row;
  color: red;
} */
